.ben-datepicker-container{
	position: relative;
}

.ben-datepicker-select-date{
	border: 2px solid #888;
	border-radius: 4px;
	padding: .2em;
}

.ben-datepicker-select-date-text1{

}


.ben-datepicker-select-date{
	position: absolute;
	background-color: white;
}

.ben-datepicker-hide{
	visibility: hidden;
	/*display: none;*/
	z-index:auto;
}

.ben-datepicker-show{
	visibility: visible;
	/*display: block;*/
	z-index:9999;
	position:absolute;
}

.ben-datepicker-calendar-table tbody tr td {
	padding: 0.2em;
	/*color: red;*/
	text-align: center;
	font-family: sans-serif;
	font-size: smaller;

}

.ben-datepicker-calendar-table thead tr td {
	border-bottom: 1px solid #555;

}

.ben-datepicker-calendar-table tbody tr td:hover {
	background-color: #aaa;
	border-radius: 9px;
	cursor: pointer;
}

.ben-datepicker-calendar-table tbody tr td.recent-day{
	background-color: orange;
	border-radius: 9px;
	cursor: pointer;
}

.recentMonth{

}

.lastMonth, .nextMonth{
	color: #666;
}

.day-name{
	font-size: smaller;
	text-transform: uppercase;
}
